---
    import CardLaunches from '../components/CardLaunch.astro';
    import { getLaunches } from '../services/spacex';

    const launches = await getLaunches();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        launches.map(launch => (
            <CardLaunches   img={launch.links.patch.small} 
                            id={launch.id} 
                            details={launch.details}
                            flightNumber={launch.flight_number}
                            success={launch.success}/>
        ))
    }
</div>